#header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-items: space-evenly;
    font-size: 1.8rem;
    flex-wrap: wrap;
}
#mellinus{
    font-family: 'Dancing Script', cursive;
    position: relative;
    border-radius: 50%;
}
#mellinus:before{
    content: "\2740";
   position: absolute;
    top: 20px;
    left: 110px;
}
#header > a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}
#header > a:hover{
    background-color:rgb(91, 74, 78);
    color: white;
    transform: scale(1.2);
    transition: 0.5s ease-in;
    }
#shoppingCart{
    margin: 20px;
    padding: 20px;
    cursor: pointer;
}
#search{
    width: 50%;
}
#search input{
    width: 80%;
    height: 2rem;
    border-radius: 20px;
    outline: none;
    padding: 0 10%;
    margin-bottom: 20px;
}
@media screen and (max-width:600px){
    #header :nth-child(1) { order: -1; }
    #header :nth-child(2) { order: 1; }
    #header :nth-child(3) { order: -1; }
    
}