#header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    font-size: 1.8rem;
}
#mellinus{
    font-family: 'Dancing Script', cursive;
    position: relative;
    border-radius: 50%;
}
#mellinus:before{
    content: "\2740";
   position: absolute;
    top: 20px;
    left: 110px;
}
#header > a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}
#header > a:hover{
    background-color:rgb(91, 74, 78);
    color: white;
    transform: scale(1.2);
    transition: 0.5s ease-in;
}
#searchAndCart{
    width:300px ;
    display: flex;
    justify-content: space-between;
  
}
#shoppingCart{
    font-size: 2rem;
    cursor: pointer;
}
#search{
    width: 200px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
#search input{
    width: 20%;
    height: 2rem;
    border-radius: 20px;
    outline: none;
    padding: 0 10%;
    margin-bottom: 20px;
    transition: all 0.5s ease-in;
}
#search input:focus{
    width: 80%;
}
@media screen and (max-width:680px){
    #searchAndCart{
        justify-content: space-evenly;
    }
}