#header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    font-size: 25px;
    border-bottom: 1px solid black ;
}
#Mellinus{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
#shoppingCart{
    margin-left: 40px;
    
}