#menu{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0px;
    border-top: 1px double black;
    border-bottom: 1px double black;
    padding: 20px;
}
/*styling the main titles*/
#menu > div > a{
    text-decoration: none;
    padding: 5px 15px;
    color: black;
    font-size: 18px;
    font-weight: 600;
}
#menu > div>a:hover{
    color: #ee8572;
    font-size: 20px;
    transition: 0.5s ease-in-out;
}
.dropdown{
    position: relative;
    display: inline-block;
}

.dropDown-content{
    position: absolute;
    z-index: 1;
    padding: 20px 30px 30px 20px;
    transition: 0.5s ease-in-out;
  
}
/*styling the links in dropdown*/
.dropDown-content >a{
    display: none;
    text-decoration: none;
    color: black;
    margin: 15px 0px;
    font-size: 20px;
    padding: 5px 10px;
   
}
.dropDown-content >a:hover{
  color: #ee8572;
  -webkit-box-shadow: 0px 18px 20px 0px rgba(0,0,0,0.53);
-moz-box-shadow: 0px 18px 20px 0px rgba(0,0,0,0.53);
box-shadow: 0px 18px 20px 0px rgba(0,0,0,0.53);
   
}
/*showing the links on hover*/
.dropDown:hover .dropDown-content >a{
   display: block;
}
.dropDown:hover .dropDown-content{
    background-color: white;
    -webkit-box-shadow: 0px 18px 20px 0px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 18px 20px 0px rgba(0,0,0,0.53);
    box-shadow: 0px 18px 20px 0px rgba(0,0,0,0.53);
}



