#product{
    height: 500px;
    flex-basis: 250px;
    flex-shrink: 0;
    flex-grow: 0;
}
#product > a > div{
    width: 100%;
    height: 70%;
    border-radius: 5px 30px;
    background-position: center center;
    background-size: cover;
    transition: 0.5s ease-in-out;
}
#product > a >div:hover{
    transform: scale(1.1);
}
#details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#details > button{
    width: 55%;
    height: 40px;
    outline: none;
    background-color: white;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    margin: 18px 0px 0px 5px;
    border-radius: 10px;
    transition: 0.5s ease-in;
}
#details > button:hover{
    background-color: black;
    color: white;
}
#cats{
    background-image: url(../images/cats.jpg);
}
#aligns{
    background-image: url(../images/aligns.jpg);
}
#chicken{
    background-image: url(../images/chicken.jpg);
}
#vases{
    background-image: url(../images/vases.jpg);
}
@media screen and (max-width:600px){
    #product{
        flex-basis: 200px;
        height: 400px;
    }
}