#upperLine{
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    background-color: rgb(82, 78, 78);
    color: blanchedalmond;

}