#upperLine{
    margin: 5px auto 20px auto ;
    height: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    color: rgb(0, 0, 0);
    font-size: 18px;
}
#upperLineHr{
    width: 70%;
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}
#upperLineHr:after {
    background: #fff;
    content: "\2740";
    padding: 0 6px;
    position: relative;
    top: -22px;
    font-size: 30px;
}
@media screen and (max-width:820px){
    #upperLine{
        flex-direction:column;
        height: 15vh;
    }  
}
