#valkommen{
    margin: auto;
    width: 50%;
    background-color: white;
   height: 60vh;
}
#valkommen > img{
    width: 100%;
    height: 100%;
  
}
@media screen and (max-width:1200px){
    #valkommen{
        width: 80%;
        height: 50vh;
     }
}
@media screen and (max-width:800px){
    #valkommen{
        width: 70%;
        height: 30vh;
     }
}
@media screen and (max-width: 400px) {
    #valkommen{
        width: 100%;
        height: 60vh;
     }
   
}
@media screen and (max-height: 600px) {
    #valkommen{
        width: 100%;
        height: 80vh;
     }
   
}