#valkommen{
    margin: auto;
    width: 50%;
    background-color: white;
   height: 60vh;
}
#valkommen > img{
    width: 100%;
    height: 100%;
  
}
@media screen and (max-width:820px){

}
@media screen and (max-width: 400px) {
    #valkommen{
        height:30vh ;
        width: 100%;
     }
}